[submodule "site-lisp/dired-filetype-face"]
	path = site-lisp/dired-filetype-face
	url = git@github.com:jixiuf/dired-filetype-face.git
[submodule "site-lisp/joseph-single-dired"]
	path = site-lisp/joseph-single-dired
	url = git@github.com:jixiuf/joseph-single-dired.git
[submodule "site-lisp/joseph-file-util"]
	path = site-lisp/joseph-file-util
	url = git@github.com:jixiuf/joseph-file-util.git
[submodule "site-lisp/ajc-java-complete"]
	path = site-lisp/ajc-java-complete
	url = git@github.com:jixiuf/ajc-java-complete.git
[submodule "site-lisp/quick-jump"]
	path = site-lisp/quick-jump
	url = git@github.com:jixiuf/quick-jump.git
[submodule "site-lisp/joseph-scroll-screen"]
	path = site-lisp/joseph-scroll-screen
	url = git@github.com:jixiuf/joseph-scroll-screen.git
[submodule "site-lisp/sqlparse"]
	path = site-lisp/sqlparse
	url = git@github.com:jixiuf/sqlparser.git
[submodule "site-lisp/popwin-el"]
	path = site-lisp/popwin-el
	url = http://github.com/m2ym/popwin-el.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/android-mode"]
	path = site-lisp/android-mode
	url = http://github.com/remvee/android-mode.git
[submodule "site-lisp/thingopt-el"]
	path = site-lisp/thingopt-el
	url = git@github.com:jixiuf/thingopt-el.git
[submodule "site-lisp/distel"]
	path = site-lisp/distel
	url = git@github.com:jixiuf/distel.git
[submodule "site-lisp/erlang-dired-mode"]
	path = site-lisp/erlang-dired-mode
	url = git@github.com:jixiuf/erlang-dired-mode.git
[submodule "site-lisp/command-log-mode"]
	path = site-lisp/command-log-mode
	url = git://github.com/lewang/command-log-mode.git
[submodule "site-lisp/ethan-wspace"]
	path = site-lisp/ethan-wspace
	url = git://github.com/glasserc/ethan-wspace.git
[submodule "site-lisp/multiple-line-edit"]
	path = site-lisp/multiple-line-edit
	url = git://github.com/k-talo/multiple-line-edit.el.git
[submodule "site-lisp/helm-replace-string"]
	path = site-lisp/helm-replace-string
	url = git@github.com:jixiuf/helm-replace-string.git
[submodule "site-lisp/helm-etags-plus"]
	path = site-lisp/helm-etags-plus
	url = git@github.com:jixiuf/helm-etags-plus.git
[submodule "site-lisp/helm-dired-history"]
	path = site-lisp/helm-dired-history
	url = git@github.com:jixiuf/helm-dired-history.git
[submodule "helm"]
	path = helm
	url = git://github.com/emacs-helm/helm.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "site-lisp/helm-descbinds"]
	path = site-lisp/helm-descbinds
	url = https://github.com/emacs-helm/helm-descbinds
[submodule "site-lisp/markdown"]
	path = site-lisp/markdown
	url = git://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://github.com/magit/magit.git
[submodule "site-lisp/helm-ls-git"]
	path = site-lisp/helm-ls-git
	url = git://github.com/emacs-helm/helm-ls-git.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/helm-c-yasnippet"]
	path = site-lisp/helm-c-yasnippet
	url = git://github.com/emacs-helm/helm-c-yasnippet.git
[submodule "site-lisp/helm-shell"]
	path = site-lisp/helm-shell
	url = git@github.com:jixiuf/helm-shell.git
[submodule "site-lisp/iedit"]
	path = site-lisp/iedit
	url = git@github.com:jixiuf/iedit.git
[submodule "site-lisp/volatile-highlight"]
	path = site-lisp/volatile-highlight
	url = git@github.com:jixiuf/volatile-highlights.git
