ac-comphist.dat
tramp
tmp
Xdefaults
abbrev_defs
*~
auto-save-list
.desktop_session/*
*.elc
*.elc*
stuff_from_other_not_used
pkg
.emacs.desktop
.emacs.desktop.lock
.emacs.desktop
thumbs
anything-c-adaptive-history
.gitignore
cache
doc/*
*.pdf
Makefile
